html {
    background: #e3e3e3;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("lasersharknew.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    color: black;
    border-top: 20px solid purple;
    border-bottom: 20px solid purple;
}

.genres {
    font-size: 1.5em;
}

h3 {
    font-size: 2em;
}